output/
__pycache__/
venv/
*.zip
dataset.zip
images/
test_ocr.py
aws/
awscliv2.zip
*.pem
*.pyc
AI-OCR dataset/
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl