beautifulsoup4
certifi
charset-normalizer
filelock
gdown
idna
numpy
opencv-python-headless
packaging
pillow
PySocks
pytesseract
requests
soupsieve
tqdm
typing_extensions
urllib3
fastapi
uvicorn[standard]
prometheus_client
python-multipart
